body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 3%;
    padding: 2%;
    background: URL("../wall.jpg");
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin-left: 15px;
    margin-top: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;

    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
}